<!DOCTYPE html>
<html>
<head>
	<style>body {background-color: powderblue;}</style>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>cart</title>
	<link rel="stylesheet" href="static/css/style.css">
</head>
<body>


<div class="topnav">
  <a  href="/shop">shop</a>
  <a class="active" href="/cart">cart</a>
  <a href="/pay">pay</a>
  <input type="text" placeholder="Search..">
</div>





<h1>welcome to the cart ... you can pay and take your products immediately</h1>
<h3> have a nice day </h3><br><br>
{% if cart: %}
{% for i in cart %}
<li>{{i}} = {{cart[i]}}</li>
{% endfor %}
{% endif %}

</body>
</html>