<!DOCTYPE html>
<html>
<head>
	<style>
body {background-color: powderblue;}
h1   {color: blue;}
p    {color: red;}
</style>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>bye bye</title>
	<link rel="stylesheet" href="static/css/style.css">
</head>
<body>


<div class="topnav">
  <a  href="/shop">shop</a>
  <a href="/cart">cart</a>
  <a class="active" href="/pay">pay</a>
  <input type="text" placeholder="Search..">
</div>





<center><h3 style="font-family:'Lucida Console', monospace">your payment completed successfully</h1></center>
<br><br><br>
<center><img src="https://c.tenor.com/xVfFIHxAzW4AAAAC/success.gif"></center>
</body>
</html>